* {
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: brown;
    color: bisque;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    
}

.logo h2 {
margin-left: 10px;
line-height: 0.5;
}

.logo h2 span {
    color: black;
    font-size: 15px;

}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
color: yellow;
text-decoration: underline;
}

nav button {
    background-color: yellow;
    color: black;
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

nav button:hover {
    background-color: yellow;
    color:black;
}

.hero-section {
background-image:
linear-gradient(rgba(0, 0, 0, 0.753)), url(/src/assets/restaurant.jpg);
background-size: cover;
background-position: center;
height: 85vh;
display: flex;
gap: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
color: yellow;
}

.section h2 {
    font-size: 30px;
    color: yellow;   
}

section p {
    font-size: 20px;
    max-width: 600px;
    text-align: center;
}

section button {
  background-color: yellow; 
  color: black; 
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.menu-section {
    background-color: brown;
    color: black;
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-conntent: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
}

.menu-item {
background-color: brown;
color: black;
padding: 10px;
display: flex;
gap: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 230px;
border-radius: 10px;
}

.menu-item img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-item h2 {
    font-size: 20px;
    color: white;
}

.menu-item p {
    font-size: 15px;
    color: white;
    text-align: start;
}

.seperated-content {
    background-color:black;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
}

